.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.1) !important;
  overflow: hidden !important;
}
.ant-modal {
  top: 10px !important;
}
.ant-modal-root {
  .ant-modal-wrap {
    overflow: hidden;
    .ant-modal {
      width: 800px !important;
      .ant-modal-content {
        box-shadow: none;
      }
    }
  }
}
